<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.mars.allen.phrclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Activity.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.NewsActivity"
            android:label="@string/title_activity_news"
            android:parentActivityName=".Activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.HandleNewsActivity"
            android:label="@string/title_activity_handle_news"
            android:parentActivityName=".Activity.NewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.NewsActivity" />
        </activity>
        <activity
            android:name=".Activity.NewsContentActivity"
            android:label="@string/title_activity_news_content"
            android:parentActivityName=".Activity.HandleNewsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.HandleNewsActivity" />
        </activity>
        <activity
            android:name=".Activity.DiagnoseHospitalActivity"
            android:label="@string/title_activity_diagnose_hospital"
            android:parentActivityName=".Activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.DiagnoseDepartmentActivity"
            android:label="@string/title_activity_diagnose_department"
            android:parentActivityName=".Activity.DiagnoseHospitalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DiagnoseHospitalActivity" />
        </activity>
        <activity
            android:name=".Activity.DiagnoseDoctorActivity"
            android:label="@string/title_activity_diagnose_doctor"
            android:parentActivityName=".Activity.DiagnoseDepartmentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.DiagnoseDepartmentActivity" />
        </activity>
        <activity
            android:name=".Activity.VipActivity"
            android:label="@string/title_activity_vip"
            android:parentActivityName=".Activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.BodyCheckActivity"
            android:label="@string/title_activity_body_check"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.PersonalDoctorActivity"
            android:label="@string/title_activity_personal_doctor"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.PersonalDoctorDetailActivity"
            android:label="@string/title_activity_personal_doctor_detail"
            android:parentActivityName=".Activity.PersonalDoctorActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.PersonalDoctorActivity" />
        </activity>
        <activity
            android:name=".Activity.HealthIndexActivity"
            android:label="@string/title_activity_health_index"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.HealthImproveActivity"
            android:label="@string/title_activity_health_improve"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.FamilygroupActivity"
            android:label="@string/title_activity_familygroup"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.FamilyaddActivity"
            android:label="@string/title_activity_familyadd"
            android:parentActivityName=".Activity.FamilygroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.FamilygroupActivity" />
        </activity>
        <activity
            android:name=".Activity.MycaseActivity"
            android:label="@string/title_activity_mycase"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.PromptActivity"
            android:label="@string/title_activity_prompt"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.EquipmentActivity"
            android:label="@string/title_activity_equipment"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.OnlineConsultActivity"
            android:label="@string/title_activity_online_consult"
            android:parentActivityName=".Activity.VipActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.VipActivity" />
        </activity>
        <activity
            android:name=".Activity.DiagnoseTableFillActivity"
            android:label="@string/title_activity_diagnose_table_fill"
            android:parentActivityName=".Activity.MycaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.DiagnoseDoctorActivity" />
        </activity>
        <activity
            android:name=".Activity.PersonHealthHistoryActivity"
            android:label="@string/title_activity_person_health_history"
            android:parentActivityName=".Activity.MycaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.MycaseActivity" />
        </activity>
        <activity
            android:name=".Activity.DisplayPersonInfo"
            android:label="@string/title_activity_display_person_info"
            android:parentActivityName=".Activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.com.mars.allen.phrclient.Activity.MainActivity" />
        </activity>
    </application>

</manifest>
